replicaCount: 1

image:
  repository: efratgrinboim/maven-hello-world
  tag: latest
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: "maven-sa"

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations: 
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: maven.local
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

securityContext:
  runAsNonRoot: true
  runAsUser: 1000

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

podAnnotations: {}

nodeSelector: {}
tolerations: []
affinity: {}
